.u-section-1 .u-sheet-1 {
  min-height: 644px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 60px;
  height: 315px;
  margin-top: 43px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 10px 0;
}